body {
    font-family: Arial, sans-serif;
}

.snippetNameContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #676a6c;
}

.snippetName {
    font-size: 20px;
    font-weight: bold;
    color: #676a6c;
    resize: none;
    border: none;
    background: none;
    field-sizing: content;
}

.snippetName:focus {
    outline: none;
    border:none;
}

.snippetsPerNameContainer {
    transition: height 0.5s ease, opacity 0.5s ease;
}

.snippetCard {
    margin-bottom: 10px;
    padding: 10px;
    border-top: solid 3px #fcd300;
    box-shadow: 4px 4px 2px #d8d8d8;
    background-color: white;
    color: #676a6c;
    font-weight: bold;
}

.footerRow {
    display: grid;
    align-items: end;
}

.iconsContainer {
    text-align: right;
}

.iconsContainer > i {
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #676a6c;
}

.details {
    display: grid;
    grid-template-columns: 30% 70%;
}

.snippetPrefixContainer,
.snippetDescriptionContainer,
.snippetBodyContainer {
    display: flex;
    flex-direction: column;
}

.snippetPrefixContainer {
    margin-right: 10px;
}

.snippetPrefix,
.snippetDescription,
.snippetBody {
    width: 100%;
    padding: 5px;
    resize: vertical;
    box-sizing: border-box;
    resize: none;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #d8d8d8;
    transition: border 0.2s;
    field-sizing: content;
    color: #676a6c;
}

.snippetPrefix:not([readonly]):focus,
.snippetDescription:not([readonly]):focus,
.snippetBody:not([readonly]):focus {
    border-color: #fcd300;
    outline: none;
    box-shadow: 0 0 5px #fcd300;
}

.newSnippetCard {
    border: 2px dashed #fcd300;
}

.snippetDivider {
    height: 1px;
    margin: 15px 0;
    background-color: #d8d8d8;
}

.header {
    display: flex;
    align-items: auto;
    margin: 10px 0;
}

.contributeButton {
    color: #676a6c;
    font-weight: bold;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background: none;
    transition: color 0.2s;
}

.contributeButton:hover {
    cursor: pointer;
    color: #fcd300;
}

.snippetBodyTextareaContainer {
    position: relative;
}

.snippetBodyTextareaContainer > i {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
    color: #676a6c;
}

i {
    transition: color 0.2s;
}

i:hover {
    color: #fcd300;
}